.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  max-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button{
  background-color: rgba(128, 229, 141, 0.856);
  border-radius: 20px;
  padding: 8px;
}
input{
  height: 25px;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body, input{
  font: 400 20px "Montserrat";
}
ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:0.5rem;
}
li{
  text-decoration: none;
  margin-left: -300px;
  text-justify: auto;
}
.delete{
  color:red;
}
.delete:hover{
  cursor: pointer;
}
input:checked + span {
  text-decoration: line-through;
}